/* 
Основной цвет текста   #212121; - Заголовки черн
Вторичный цвет текста  #FFFFFF; - Заголовки бел
Цвет текста Параграфы  #757575;

Акцкет 1 ------------- #2196F3; - Синий для кнопок и навигации */


 /* 
 Основной цвет фона  #E5E5E5; - 
 Вторичный цвет фона #2F303A; - Герой и Футер
 Фон хедера          #FFFFFF;

 */
:root {
    --primary-title-color:#212121;
    --secondary-title-color:#FFFFFF;
    --text-color:#757575;
    --accent-color:#2196F3;
    --logo-color:#ffffff;
    --icon-color:  #AFB1B8;

    --primary-background-color:#E5E5E5;
    --secondary-background-color:#2F303A;
    --header-background-clor:#FFFFFF;  
    --button-background-clor:#F5F4FA;

}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

header {
    background-color: var(--header-background-clor);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {
    display: flex;
    align-items: center;
    background-color: var(--secondary-title-color);
}

.footer {
    background-color: var(--secondary-background-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-contacts {
    padding: 60px 0;
}

.footer-logo {
    display: flex;
    margin-bottom: 20px;
    text-decoration: none;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--accent-color);
}

.footer-social {
    padding: 60px 0;
}

.footer-social .title {
    padding-top: 12px;
    padding-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 0.87;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-title-color);;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    width: 206px;
}

.social-unit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;   
}

.footer-box .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background: rgba(255, 255, 255, 0.1);
}

.footer-box .social-link:focus,
.footer-box .social-link:hover {
    background: var(--accent-color);
    outline-style: none;
}

.hero {
    padding: 200px 0;

    background-repeat: no-repeat;
    background-size: cover;

    background-color: var(--secondary-background-color);
    background-image: linear-gradient( 
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4) ), 
        url(../images/hero_background.jpg);
}

.hero-text {
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--logo-color);
}

.competence {
    margin: 0 auto;
    padding: 94px 0 47px;

    background-color: var(--secondary-title-color);
}

.our-work {
    padding: 47px 0 94px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    background-color: var(--secondary-title-color);
}

.disctiption {
    position: absolute;
    width: 370px;
    height: 70px;
    padding: 27px 0;
    bottom: 0;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-title-color);
    background: rgba(47, 48, 58, 0.8);
}

.our-team {
    padding: 94px 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    background-color: var(--button-background-clor);
}

.competence-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.competence-unit {
    width: 270px;
    margin-right: 30px;
}

.competence-unit:last-child {
    margin-right: 0;
}

.competence-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    width: 270px;
    height: 120px;

    background: var(--button-background-clor);
    border-radius: 4px;
}

.competence-icon:last-child {
    margin-right: 0;
}

.images-list {
    display: flex;
}

.our-work-imges {
    width: 370px;
}

.images-item {
    position: relative;
    width: calc((100%-60px) / 3);
    margin-right: 30px;
} 

.images-item:nth-child(3n) {
    margin-right: 0;
  }

.our-team-item {
    width: calc((100%-90px) / 4);
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14),    
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}  

.our-team-item:nth-child(4n) {
    margin-right: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  
.our-work-title,
.our-team-title,
.clients-title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-title-color);

}

.button {
    background-color: var(--accent-color);
}

.button-filter {
    padding: 6px 22px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    background-color: var(--button-background-clor);
}

.button-filter:hover,
.button-filter:focus {
    background-color: var(--accent-color);
    color: var(--secondary-title-color);
    outline: none;
}

.button-item {
    margin-right: 8px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.button-item:last-child {
    margin-right: 0;
}

.filter-list {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    width: 370px;
    margin-right: 30px; 
    margin-bottom: 30px;
    cursor: pointer;
}

.project-item:nth-child(3n) {  
    margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {  
    margin-bottom: 0;
}

.project-item .link {
    display: block;
    text-decoration: none;
}

.project-item .link:hover,
.project-item .link:focus {
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.hero-text,
.main-button {
    color: var(--logo-color);
}

.main-button {
    display: flex;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px 32px;
    cursor: pointer;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
}

.competence-item {
    margin: 30px 0 10px;
    width: 270px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.competence-text {
    width: 270px;
    margin-left: 30px;
    margin: 0 auto;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.team-item {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.header-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--primary-title-color);

}

.footer-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--logo-color);
}

.header-logo {
    display: flex;
    text-decoration: none;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--accent-color);
}

.list {
    color: var(--primary-title-color);
    list-style: none;
}

.contact-list {
    display: flex;  
    justify-content: flex-end;
    margin-left: auto;
}

.header-list {
    display: flex;
    
    margin-left: 93px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.02em;
}

.header-link {
    position: relative;
    display: block;
    padding: 32px 0;
    text-decoration: none;
    margin-right: 50px;

    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-title-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active-page {
    color: var(--accent-color);
}

.active-page::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    margin-top: 28px;

    background: var(--accent-color);
    border-radius: 2px;
}

.header-contacts {
    display: flex;
    align-items: center;
    margin-left: 50px;
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--text-color);
}

.icon-mail {
    margin-right: 10px;
    width: 16px;
    height: 12px;

    fill: var(--text-color);
}

.icon-smartphone {
    margin-right: 10px;
    width: 10px;
    height: 16px;

    fill: var(--text-color);
}

.header-contacts:hover,
.header-contacts:focus {
    color: var(--accent-color);
}

.header-contacts:hover .icon-mail,
.header-contacts:hover .icon-smartphone,

.header-contacts:focus .icon-mail,
.header-contacts:focus .icon-smartphone {
    fill: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.footer-link {
    display: flex;
    flex-direction: column;
    margin-bottom: 9px;
    text-decoration: none;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover, 
.footer-link:focus {
    color: var(--accent-color);
}

.text {
    color: var(--text-color);
}

address {
    margin-bottom: 9px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.filter-container {
    padding-bottom: 50px;
    background-color: var(--secondary-title-color);
}

.project-name {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.project-container {
    padding: 94px 15px;
}

.our-team-people {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: auto;
    padding-right: auto;

    background: var(--secondary-title-color);
}

.hero-line {
    border: 1px solid #ECECEC;
    margin: 0;
}

.social-box {
    display: flex;
    justify-content: space-around;
    width: 206px;
    margin-left: 32px;
    margin-top: 16px;
}

.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;   
}

.social-item .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background: transparent;
    fill: var(--icon-color);
}

.social-item .social-link:focus,
.social-item .social-link:hover {
    background: var(--accent-color);
    fill: var(--logo-color);
    outline-style: none;
}

.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
    width: 20px;
    height: 20px;
}

.pic-instagram,
.pic-twitter,
.pic-facebook,
.pic-linkedin {
    width: 20px;
    height: 20px; 
    fill: var(--secondary-title-color);
}

.footer-signup {
    width: 570px;
    padding: 60px 0;

}

.form-field {
    display: flex;
    justify-content: space-between;
}

.signup-input {
    width: 358px;
    padding: 15px 0 15px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;

    background: var(--secondary-background-color);
    color: rgba(255, 255, 255, 0.6);
}

.signup-title {
    display: flex;
    padding-top: 12px;
    padding-bottom: 20px;

    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--header-background-clor); 
}

.pic-send {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: var(--logo-color)
}

.signup-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 13px;

    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--logo-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.modal-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

.modal-input .title {
    margin-bottom: 12px;
    text-align: center;

    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;

    color: var(--primary-title-color);
}

.input-form {
    display: flex;
    flex-direction: column;
    
    margin-left: auto;
    margin-right: auto;
    width: 448px;
}

.input-area {
    width: 100%;
    padding: 13px 0 13px 42px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.input-area:focus {
    outline: none;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}
.input-area:focus + .input-icon {
    fill: var(--accent-color);
}

.inputs {
    position: relative;
    width: 100%;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-5%);
}

textarea {
    resize: none;
    padding: 12px 15px;
    margin-bottom: 20px;
    width: 448px;
    height: 120px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.textarea:focus {
    outline: none;
    border: 1px solid var(--accent-color);
}


.input-lable {
    margin-bottom: 4px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--text-color);
}

.deal-box {
    display: flex;
    justify-content: center;
}

.deal-input {
    appearance: none;
    outline: none;
}

.deal-lable {
    text-align: center;
    margin-bottom: 15px;
    
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--text-color);
}

.deal-lable::before {
    content: " ";
    display: inline-flex;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 2px;
}

.deal-input:checked + .deal-lable::before {
    border-radius: 2px;
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../images/accept.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.input-button {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 55px;


    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: var(--logo-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.clients {
    padding: 94px 0;
    margin: 0 auto;
    
    background-color: var(--secondary-title-color);
}

.clients-list {
    display: flex;
    align-items: center;
}

.clients-item {
    width: 170px;
    height: 90px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    margin-right: 30px;

    background: var(--secondary-title-color);
}

.clients-item:hover,
.clients-item:focus {
    border: 1px solid var(--accent-color);
}

.clients-item:last-child {
    margin-right: 0;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.icon-Client_1,
.icon-Client_2,
.icon-Client_3,
.icon-Client_4,
.icon-Client_5,
.icon-Client_6 {
    fill: var(--icon-color);
}

.clients-link:hover .icon-Client_1,
.clients-link:hover .icon-Client_2,
.clients-link:hover .icon-Client_3,
.clients-link:hover .icon-Client_4,
.clients-link:hover .icon-Client_5,
.clients-link:hover .icon-Client_6,

.clients-link:focus .icon-Client_1,
.clients-link:focus .icon-Client_2,
.clients-link:focus .icon-Client_3,
.clients-link:focus .icon-Client_4,
.clients-link:focus .icon-Client_5,
.clients-link:focus .icon-Client_6 {
    fill: var(--accent-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(50% 50%);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    width: 528px;
    height: 581px;

    background: var(--secondary-title-color);
}

.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;

    background-color: var(--secondary-title-color);
}

.modal-button:focus,
.modal-button:hover {
    fill: var(--accent-color);
}

.project-overlay {
    display: block;
    position: relative;
}

.overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(100%);

    background: rgba(33, 150, 243, 0.9);
}

.project-item .link:hover .overlay,
.project-item .link:focus .overlay {
    opacity: 1;
    transform: translateY(0);
    transition-duration: 250ms;
}

.overlay .text {
    padding: 64px 23px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--secondary-title-color);
}