.footer-social {
    padding: 60px 0;
}

.footer-social .title {
    padding-top: 12px;
    padding-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 0.87;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-title-color);;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    width: 206px;
}
.footer-box .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background: rgba(255, 255, 255, 0.1);
}

.footer-box .social-link:focus,
.footer-box .social-link:hover {
    background: var(--accent-color);
    outline-style: none;
}

.social-unit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;   
}
